fastapi
uvicorn
pandas
numpy
scikit-learn
psycopg2-binary
sqlalchemy
joblib
python-dotenv
mlflow
onnxruntime
skl2onnx
pandera
evidently
structlog
pydantic-settings

# Testing
pytest
httpx

# Linting
ruff
